body {
    background-color: #DDD;
    color: #666;
}

div {
    float:   left;
    position: relative;
    width: 35%;
    padding: 6px 30px 6px 30px;
    margin: 6px;
    height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
}

h4 {
    position: relative;
    left: 10%;
}

.time {
    font-weight: normal;
    font-style: oblique;
    font-size: 90%
}

.info {
    font-weight: bold;
    font-size: 90%
}

.short {
    color: #0A0;
}

.mid {
    color: #AA0;
}

.long {
    color: #A00;
}
